<app-header title="Register" [additemButton] ="false"></app-header>

<ion-content>
  <ion-content class="ion-padding">
    <h2>Register a New User</h2>
  
    <ion-list >
      <ion-item>
        <ion-input [(ngModel)]="curuser.username" placeholder="username" name="username" required="true"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="curuser.password" placeholder="Password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="curuser.gravatar" placeholder="Gravatar" name="gravatar"></ion-input>
    </ion-item>
    </ion-list>
  
  <ion-button expand="full" size="medium" shape="round" color="success"  (click)="register()" >Register<ion-icon slot="end" name="log-in"></ion-icon></ion-button>
</ion-content>
